
/*Cores fixas*/
:root {
  --cor-primaria: #d96f32;
  --fundo-claro: #f4f4f4;
  --fundo-escuro: #202020;
  --texto-escuro: #202020;
  --texto-claro: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* layout.css */

.body { 
  display: flex;
  flex: 1;
  background-color: black;
  position: relative; 
}

.content {
  flex: 1;
  background-color: #f5f5f5;
  overflow-y: auto;
  transition: margin-left 0.3s ease, width 0.3s ease; 
}


.content.compact {
  margin-left: 80px; 
  width: calc(100% - 80px);
}

.content.expanded {
  margin-left: 260px; 
  width: calc(100% - 260px);
}